.additional-products {
	width: 100%;
}

.additional-products__container {
	display: flex;
	flex-direction: column;

	@media #{$not-mobile} {
		flex-wrap: wrap;
		margin-top: 40px;
	}

	@media #{$desktop-only} {
		flex-direction: row;
		flex-wrap: wrap;
		margin-top: 50px;
	}
}

.additional-products__title {
	position: relative;
	width: 100%;
	font-family: var(--accent-font);
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	color: var(--second-text-color);
	margin: 0;
	margin-top: 26px;
	padding: 0;
	margin-bottom: 36px;
	flex-grow: 1;

	@media #{$not-mobile} {
		font-weight: 400;
		font-size: 36px;
		line-height: 36px;
		width: unset;
		margin-left: 20px;
		margin-bottom: 28px;
		padding-left: 16px;
		padding-right: 16px;
		padding-bottom: 8px;
	}

	@media #{$desktop-only} {
		margin-left: -16px;
		flex-grow: unset;
		margin-bottom: 14px;
	}

	&::after {
		@media #{$mobile-only} {
			content: "";
			background-color: #ebebeb;
			height: 1px;
			width: calc(100vw - 40px);
			position: absolute;
			bottom: -36px;
			left: 0;
		}
	}
}

.additional-products__list {
	margin-top: 14px;
	margin-bottom: 52px;

	@media #{$not-mobile} {
		margin-top: 45px;
		margin-bottom: 69px;
	}

	@media #{$desktop-only} {
		margin-bottom: 0;
		margin-top: 59px;
	}
}

.additional-products__offer {
	margin-bottom: 35px;
	margin-left: auto;
	margin-right: auto;

	@media #{$desktop-only} {
		margin: 0 auto;
		margin-left: 80px;
		align-self: flex-end;
	}
}
