.additional-products-list {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 31px;
	margin: 0;
	padding: 0;

	@media #{$not-mobile} {
		gap: 0;
	}

	@media #{$desktop-only} {
		display: grid;
		grid-auto-rows: 72px;
	}
}

.additional-products-list__item {
	position: relative;

	&::after {
		@media #{$mobile-only} {
			content: "";
			background-color: #ebebeb;
			height: 1px;
			width: 100%;
			position: absolute;
			bottom: -19px;
			left: 0;
		}
	}
}
