.additional-product-card__link {
	text-decoration: none;
	font-family: var(--accent-font);
	line-height: 16px;
	text-transform: uppercase;
	color: #222222;
}

.additional-product-card__title {
	font-weight: 400;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
