.address {
	margin: 0;
	padding: 0;
	position: relative;
}

.address__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 26px 0;

	@media #{$desktop-only} {
		position: absolute;
		box-sizing: border-box;
		width: 565px;
		background-color: #ffffff;
		padding: 56px 80px;
		top: 95px;
		left: calc(50vw - 610px); //move from center of view port on half page minus margin
	}
}

.address__title {
	width: 139px;
	margin: 0;
}

.address__text {
	font-style: inherit;
	line-height: 20px;
	width: 139px;
}
