.address {
	margin: 0;
	padding: 0;
	position: relative;
}

.address__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 26px 0;

	@media #{$not-mobile} {
		padding: 60px 40px;
	}

	@media #{$desktop-only} {
		position: absolute;
		box-sizing: border-box;
		width: 565px;
		background-color: #ffffff;
		padding: 60px 78px;
		top: 95px;
		left: calc(50vw - 610px); //move from center of view port on half page minus margin
	}
}

.address__title {
	width: 139px;
	margin: 0;

	@media #{$not-mobile} {
		width: 200px;
	}
}

.address__text {
	font-style: inherit;
	line-height: 20px;
	width: 139px;

	@media #{$not-mobile} {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		text-align: end;
		width: 160px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		margin-top: -10px;
	}

	@media #{$desktop-only} {
		text-align: start;
	}
}
