.button-primary {
	appearance: none;
	text-decoration: none;
	border: none;
	text-transform: uppercase;
	text-align: center;
	font-family: var(--accent-font);
	color: #ffffff;
	background-color: #68b738;
	padding: 7px 44px;
	display: block;
}
