.button-secondary {
	text-decoration: none;
	font-family: var(--accent-font);
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: var(--main-text-color);
	background-color: #f2f2f2;
	padding: 10px 94px;
}
