.button-primary {
	box-sizing: border-box;
	appearance: none;
	text-decoration: none;
	border: none;
	text-transform: uppercase;
	text-align: center;
	font-family: var(--accent-font);
	color: #ffffff;
	background-color: #68b738;
	padding: 11px 44px;
	display: block;
	// width: 280px;
	// height: 40px;


	@media #{$not-mobile} {
		font-weight: 400;
		font-size: 20px;
		line-height: 20px;
		// width: 244px;
		padding: 17px 26px;
	}

	&--catalog {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		padding: 10px 44px;
	}

	&:hover {
		background-color: #5eaa2f;
	}

	&:active {
		background-color: #5eaa2f;
		color: rgb(255 255 255 / 0.3);
	}
}
