.cat-owner-data {
	margin: 0;
	padding: 0;
}

.cat-owner-data__list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	@media #{$desktop-only} {
		box-sizing: border-box;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 78px;
	}
}

.cat-owner-data__item {
	display: flex;
	align-items: center;
	margin-bottom: 14px;

	@media #{$not-mobile} {
		margin-bottom: 20px;
	}
}

.cat-owner-data__legend {
	max-width: 187px;
	margin-bottom: 35px;

	@media #{$not-mobile} {
		max-width: unset;
		margin-bottom: 76px;
	}
}

.cat-owner-data__label {
	margin-right: 10px;
}

.cat-owner-data__input {
	flex-grow: 2;
}
