.cat-owner-data {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
}

.cat-owner-data__list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	@media #{$desktop-only} {
		box-sizing: border-box;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 78px;
	}
}

.cat-owner-data__item {
	display: flex;
	align-items: center;
	margin-bottom: 14px;

	@media #{$not-mobile} {
		margin-bottom: 20px;
	}
}

.cat-owner-data__legend {
	max-width: 187px;
	margin-bottom: 35px;


	@media #{$not-mobile} {
		max-width: unset;
		margin-bottom: 76px;
	}
}

.cat-owner-data__label {
	margin-right: 10px;
}

.cat-owner-data__input {
	position: relative;
	flex-grow: 2;
	padding-right: 20px;
}

.cat-owner-data__input-icon { //cat-owner-data__mail-icon
	// content: "";
	width: 20px;
	height: 20px;
	mask: url("/icons/stack.svg#mail-icon") no-repeat center / contain;
	background: currentColor;

	position: absolute;
	right: 35px;

	// &:focus {
	// 	background: #68b738;
	// }

	&--phone-icon {
		mask: url("/icons/stack.svg#phone-icon") no-repeat center / contain;
	}
}

.cat-owner-data__input:focus + .cat-owner-data__input-icon {
	background: #68b738;
}

.cat-owner-data__input:not(:placeholder-shown, :focus):invalid + .cat-owner-data__input-icon {
	background: #ff8282;
}
