.comment {
	display: flex;
	flex-direction: column;
	margin-bottom: 23px;
}

.comment__legend {
	margin-bottom: 38px;

	@media #{$not-mobile} {
		margin-bottom: 76px;
	}
}

.comment__input.comment__input {
	min-width: 280px;
	height: 150px;
	padding-right: 14px;
}
