.copyright-link__title {
	margin: 0;
	padding: 0;

	@media #{$not-mobile} {
		margin-right: 5px;
		margin-top: -1px;
	}

	// &:active {
	// 	color: #444444;
	// 	opacity: 0.3;
	// }
}

.copyright-link {
	text-decoration: none;
	font-family: var(--main-font);
	font-size: 16px;
	line-height: 19px;
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;

	@media #{$not-mobile} {
		justify-content: end;
	}

	&::after {
		content: "";
		display: block;
		width: 27px;
		height: 34px;
		mask: url("/icons/stack.svg#html-academy-icon") no-repeat center / contain;
		background: #666666;
		// margin-left: auto; if j-c: s-b doesn't fit

		@media #{$not-mobile} {
			margin-left: 23px;
			margin-top: -3px;
		}
	}

	&:hover::after {
		background: #68b738;
	}

	&:focus::after {
		background: #68b738;
	}

	&:active .copyright-link__title {
		color: #444444;
		opacity: 0.3;
	}

	&:active::after {
		opacity: 0.3;
		background: #68b738;
	}
}
