.feed-plan {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	gap: 13px;

	@media #{$desktop-only} {
		max-width: 568px;
	}
}

.feed-plan__wrapper {
	display: flex;
	align-items: center;
	gap: 15px;
}
