.input-checkbox {
	margin: 0;
	padding: 0;
	width: 30px;
	height: 30px;
	appearance: none;
	font: inherit;
	color: currentColor;
	border: 1px solid #cdcdcd;
	border-radius: 0;
	display: grid;
	place-content: center;

	&:hover {
		border-color: #bababa;
	}

	&:disabled {
		border-color: #bababa;
		opacity: 0.3;
	}

	&:disabled + .input-checkbox-label {
		opacity: 0.3;
	}

	@media #{$not-mobile} {
		width: 40px;
		height: 40px;
	}

	&::before {
		content: "";
		width: 30px;
		height: 30px;
		transform: scale(0);
		transition: 120ms transform ease-in-out;
		background: url("../../icons/stack.svg#tick-checkbox") center center / contain no-repeat;

		@media #{$not-mobile} {
			width: 40px;
			height: 40px;
		}
	}

	&:checked::before {
		transform: scale(1);
	}
}
