.main-footer {
	width: 100%;
	background-color: var(--second-bg-color);
	padding-top: 23px;

	// @media #{$not-mobile} {
	// 	box-sizing: border-box;
	// 	min-height: 147px;
	// }
}

.main-footer__container {
	display: grid;
	grid-auto-rows: minmax(62px, auto);
	align-items: center;

	@media #{$not-mobile} {
		grid-template-columns: repeat(3, 1fr);
		padding: 40px 0;
	}

	@media #{$desktop-only} {
		padding-top: 50px;
	}
}

.main-footer__logo {
	margin: 0 auto;

	@media #{$not-mobile} {
		margin: 0;
		margin-right: auto;
		display: block;
	}
}

.main-footer__logo-img {
	width: 128px;
	height: 24px;

	@media #{$not-mobile} {
		width: 142px;
		height: 26px;
		display: block;
		padding-top: 5px;
	}
}

.main-footer__socials {
	margin: 0 auto;
}

.main-footer__copyright {
	margin: 0 auto;
	padding-top: 10px;

	@media #{$not-mobile} {
		margin: 0;
		margin-left: auto;
	}
}
