.main-navigation {
	// position: relative;
	margin: 0;
	padding: 0;
	font-family: var(--accent-font);
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	background-color: #ffffff;
	width: 100%;
}

.main-navigation__toggle {
	position: absolute;
	top: -46px;
	right: 24px;
	width: 24px;
	height: 16px;
	appearance: none;
	border: none;
	background: none;
	padding: 0;

	@media #{$not-mobile} {
		display: none;
	}
}

.main-navigation--closed .site-list__item {
	@media #{$mobile-only} {
		display: none;
	}
}

.main-navigation--closed .main-navigation__toggle::before {
	content: "";
	position: absolute;
	width: 24px;
	height: 1.5px;
	top: 0;
	left: 0;
	background-color: #000000;
	box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-navigation--opened .main-navigation__toggle {
	&::before,
	&::after {
		content: "";
		position: absolute;
		top: 8px;
		left: 0;
		width: 24.76px;
		height: 1.5px;
		background-color: #000000;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
}

.main-navigation--nojs.main-header__navigation {
	position: static;
}

.main-navigation--nojs .site-list__item {
	display: block;
}

.main-navigation--nojs .main-navigation__toggle {
	display: none;
}
