.main-content {
	width: 100%;
}

.main-content__promotion {
	margin-bottom: 20px;

	@media #{$not-mobile} {
		margin-bottom: -6px;
	}

	@media #{$desktop-only} {
		margin-bottom: 0;
	}
}

.main-content__product-options {
	margin-bottom: 20px;

	@media #{$not-mobile} {
		margin-bottom: 45px;
	}

	@media #{$desktop-only} {
		margin-bottom: 65px;
	}
}

.main-content__product-description {
	margin-bottom: 49px;

	@media #{$not-mobile} {
		margin-bottom: 45px;
	}

	@media #{$desktop-only} {
		margin-bottom: 25px;
	}
}

.main-content__product-result-example {
	@media #{$desktop-only} {
		margin-bottom: 3px;
	}
}

.main-content__products {
	margin-bottom: 25px;
}

.main-content__additional-products {
	@media #{$not-mobile} {
		margin-bottom: 41px;
	}

	@media #{$desktop-only} {
		margin-bottom: 86px;
	}
}

.main-content__service.main-content__service {
	margin-bottom: 32px;
}
