.page {
	background-color: var(--main-bg-color);
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: var(--main-text-color);

	@media #{$not-mobile} {
		font-size: 16px;
		line-height: 24px;
	}
}

.page__centerer {
	--indent-min: 20;
	--indent-max: 30;
	--vp-min: 320;
	--vp-max: 768;

	--increment-indent: calc(var(--indent-max) - var(--indent-min));
	--increment-vp: calc(var(--vp-max) - var(--vp-min));
	--content-indent: calc(var(--indent-min) * 1px + var(--increment-indent) * (100vw - var(--vp-min) * 1px) / var(--increment-vp));
	margin-inline: var(--content-indent);

	@media #{$not-mobile} {
		--content-indent: calc(var(--indent-max) * 1px);
	}

	@media #{$desktop-only} {
		--content-indent: auto;
		width: 1220px;
	}
}

.page__body {
	margin: 0;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}
