.product-option-card {
	box-sizing: border-box;
	width: 100%;
	background-color: var(--second-bg-color);
	padding: 20px;
	display: flex; //only for link
	flex-direction: column;

	@media #{$not-mobile} {
		padding: 77px 316px 52px 52px;
	}

	@media #{$desktop-only} {
		width: calc(50% - 40px);
		padding: 41px 52px 60px 52px;
	}
}

.product-option-card__link {
	margin-top: auto; // to make link invulnerable to no text
	font-family: var(--accent-font);
	font-size: 16px;
	line-height: 16px;
	color: var(--second-text-color);
	text-decoration: none;
	text-transform: uppercase;
}

.product-option-card__title {
	position: relative;
	margin: 0;
	// margin-left: 69px;
	margin-bottom: 23px;
	padding: 0;
	display: flex;
	align-items: center;

	@media #{$not-mobile} {
		margin-left: 0;
		margin-bottom: 24px;
	}

	@media #{$desktop-only} {
		margin-bottom: 38px;
	}

	&::before {
		content: "";
		display: inline-block;
		width: 50px;
		height: 53px;
		background: url("/icons/stack.svg#cat-slim-black-green-round") no-repeat center / contain;
		margin-right: 19px;
		margin-left: 3px;

		@media #{$not-mobile} {
			position: absolute;
			top: 3px;
			right: -274px;
			width: 200px;
			height: 211px;
		}

		@media #{$desktop-only} {
			position: unset;
			width: 100px;
			height: 106px;
			margin: 0;
			margin-right: 62px;
			// background-position: left;
		}
	}
}

.product-option-card__title--variant-muscular-cat {
	margin-top: 5px;
	margin-left: -8px;
	margin-bottom: 20px;


	@media #{$not-mobile} {
		margin-left: 0;
		margin-bottom: 24px;
	}

	@media #{$desktop-only} {
		margin-bottom: 40px;
	}

	&::before {
		width: 67px;
		background: url("/icons/stack.svg#cat-muscular-black-green-round") no-repeat center / contain;
		margin-right: 11px;

		@media #{$not-mobile} {
			width: 268px;
			height: 200px;
			top: 13px;
			right: -298px;
		}

		@media #{$desktop-only} {
			// position: unset;
			width: 134px;
			height: 100px;
			margin-left: -18px;
			margin-right: 47px;
			// margin: 0;
			// margin-right: 62px;
			// // background-position: left;
		}
	}
}


.product-option-card__text {
	position: relative;
	margin: 0;
	margin-bottom: 41px;
	padding: 0;
	max-width: 466px;

	@media #{$not-mobile} {
		margin-bottom: 48px;
		max-width: 340px;
	}

	@media #{$desktop-only} {
		margin-bottom: 23px;
		max-width: unset;
	}

	&::after {
		position: absolute;
		content: "";
		display: block;
		height: 1px;
		width: 100%;
		background: #d9d9d9;
		bottom: -23px;
		left: 0;

		@media #{$not-mobile} {
			display: none;
		}
	}
}

.product-option-card__link-text {
	display: flex;
	align-items: center;

	@media #{$not-mobile} {
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		margin-top: 4px;
	}

	&::after {
		position: relative;
		display: block;
		content: "";
		width: 32px;
		height: 12px;
		background: url("/icons/stack.svg#black-arrow-to-right") no-repeat left -8px center / contain;
		margin-left: 16px;

		@media #{$not-mobile} {
			margin-left: 27px;
		}
	}
}
