.product-option-card {
	background-color: var(--second-bg-color);
}

.product-option-card__link {
	font-family: var(--accent-font);
	font-size: 16px;
	line-height: 16px;
	color: var(--second-text-color);
	text-decoration: none;
	text-transform: uppercase;
}
