.product-card-parameters-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
	line-height: 9px;
	display: flex;
	flex-wrap: wrap;
}

.product-card-parameters-list__item {
	display: flex;
	width: 100%;
	justify-content: space-between;
	// height: 16px;
}

.product-card-parameters-list__parameter-value {
	margin: 0;
	padding: 0;
}
