.product-option-card {
	box-sizing: border-box;
	width: 100%;
	background-color: var(--second-bg-color);
	padding: 30px 20px 20px 20px;
	display: flex; //only for link
	flex-direction: column;

	@media #{$not-mobile} {
		padding: 77px 316px 52px 52px;
	}

	@media #{$desktop-only} {
		width: calc(50% - 40px);
		padding: 77px 52px 55px 52px;
	}
}

.product-option-card__link {
	margin-top: auto; // to make link invulnerable to no text
	font-family: var(--accent-font);
	font-size: 16px;
	line-height: 16px;
	color: var(--second-text-color);
	text-decoration: none;
	text-transform: uppercase;
}

.product-option-card__title {
	margin: 0;
	// margin-left: 69px;
	margin-bottom: 29px;
	padding: 0;
	display: flex;
	align-items: center;

	&::before {
		content: "";
		display: inline-block;
		width: 50px;
		height: 53px;
		background-image: url("/img/cat_black_slim.png");
		margin-right: 19px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}

	@media #{$not-mobile} {
		margin-left: 0;
		margin-bottom: 24px;
	}

	@media #{$desktop-only} {
		margin-left: 162px;
		margin-bottom: 73px;
	}
}

.product-option-card__title--variant-muscular-cat::before {
	width: 67px;
	background-image: url("/img/cat_black_muscular.png");
	margin-right: 11px;
}

.product-option-card__text {
	margin: 0;
	margin-bottom: 38px;
	padding: 0;
	max-width: 466px;

	@media #{$not-mobile} {
		margin-bottom: 48px;
	}

	@media #{$desktop-only} {
		margin-bottom: 23px;
	}
}

.product-option-card__link-text {
	display: flex;
	align-items: center;

	&::after {
		position: relative;
		display: block;
		content: "";
		width: 32px;
		height: 10px;
		background-color: #000000;
		margin-left: 15px;

		@media #{$not-mobile} {
			margin-left: 25px;
		}
	}
}
