.product-description {
	width: 100%;
	counter-reset: item-number;
}

.product-description__container {
	padding-top: 3px;

	@media #{$not-mobile} {
		padding-top: 6px;
	}
}

.product-description__list {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-auto-rows: 60px;
	grid-row-gap: 20px;

	@media #{$not-mobile} {
		margin-right: 75px;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: minmax(280px, auto);
		grid-row-gap: 37px;
		grid-column-gap: 135px;
	}

	@media #{$desktop-only} {
		margin-right: 0;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: minmax(280px, auto);
		grid-row-gap: 37px;
		grid-column-gap: 78px;
	}
}

.product-description__item {
	display: flex;
	align-items: center;
	gap: 20px;
	counter-increment: item-number;
	position: relative;
	z-index: 1;

	@media #{$not-mobile} {
		flex-direction: column;
		align-items: start;
		gap: 31px;
	}

	&::after {
		display: none;
		z-index: -1;

		@media #{$not-mobile} {
			display: block;
			content: counter(item-number);
			font-family: var(--accent-font);
			font-weight: 400;
			font-size: 280px;
			line-height: 280px;
			color: #f2f2f2;
			position: absolute;
			right: 0;
			width: 134px;
		}
	}

	&::before {
		flex-shrink: 0;
		content: "";
		width: 60px;
		height: 60px;
		background: var(--bg-options-image, url("/icons/stack.svg#white-leaf")) no-repeat center / 32px 32px,
			linear-gradient(
				rgb(104 183 56 / 0.85),
				rgb(104 183 56 / 0.85)
			);

		@media #{$not-mobile} {
			width: 80px;
			height: 80px;
			margin-top: 40px;
		}
	}

	&--second::before {
		--bg-options-image: url("/icons/stack.svg#white-glass-of-product");
	}

	&--third::before {
		--bg-options-image: url("/icons/stack.svg#white-fork-and-knife");
	}

	&--fourth::before {
		--bg-options-image: url("/icons/stack.svg#white-clock");
	}
}

.product-description__title {
	margin: 0;
	margin-bottom: 40px;
	padding: 0;

	@media #{$not-mobile} {
		margin-bottom: 32px;
	}
}


.product-description__text {
	margin: 0;
	padding: 0;

	@media #{$not-mobile} {
		margin-bottom: 57px;
		max-width: 245px;
	}
}
