.product-result-example__container {
	display: flex;
	flex-direction: column;
	padding-top: 25px;

	@media #{$desktop-only} {
		flex-direction: row;
	}
}

.product-result-example__wrapper {
	@media #{$desktop-only} {
		max-width: 436px;
		gap: 224px;
	}
}

.product-result-example__title {
	margin: 0;
	margin-bottom: 40px;
	padding: 0;

	@media #{$not-mobile} {
		margin-top: 18px;
	}

	@media #{$desktop-only} {
		margin-bottom: 146px;
	}
}

.product-result-example__text {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;

	@media #{$not-mobile} {
		margin-top: 63px;
	}

	@media #{$desktop-only} {
		margin-bottom: 69px;
		max-width: 432px;
	}
}

.product-result-example__slider {
	align-self: center;
}
