.promotion {
	position: relative;
	// background-image: url("/img/grey-cat-licking.jpg");
	// background-color: rgb(104 183 56 / 0.85);
	@media #{$desktop-only} {
		position: unset;
		min-height: 694px;
	}

	&::before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 302px;
		background:
			linear-gradient(
				rgb(104 183 56 / 0.85),
				rgb(104 183 56 / 0.85)
			),
			var(--bg-image) no-repeat var(--bg-positionX, center) var(--bg-positionY, center) / var(--bg-size, contain),
			linear-gradient(
				to right,
				#504f55,
				#414045
			);

		@include bg-image("cat-liking");


		@media #{$tablet-only} {
			content: none;
		}

		@media #{$desktop-only} {
			--bg-positionX: left;
			// --bg-positionY: top;
			--bg-size: 1044px 696px;
			width: auto;
			height: 696px;
			top: 0;
			right: 0;
			left: 50vw;
		}
	}
}

.promotion__container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;


	@media #{$not-mobile} {
		// position: relative;
		// align-items: start;
		// padding-left: 87px;
		display: grid;
		padding: 0 88px;
	}

	@media #{$desktop-only} {
		padding-left: 30px;
		justify-content: start;
	}
}

.promotion__wrapper {
	@media #{$not-desktop} {
		display: contents;
	}
}

.promotion__title {
	text-align: center;
	margin: 0;
	margin-top: 27px;
	padding: 0;

	@media #{$not-mobile} {
		text-align: start;
		color: var(--second-text-color);
	}
}

.promotion__text {
	padding: 0;
	margin: 0;
	margin-top: 25px;

	@media #{$not-mobile} {
		color: var(--second-text-color);
		margin-top: 41px;
	}
}

.promotion picture {
	@media #{$tablet-only} {
		grid-row: 3/4;
		grid-column: 1/-1;
		place-self: center;
	}
}

.promotion__image { //temporary
	width: 280px;
	height: 270px;
	margin-top: 29px;

	@media #{$not-mobile} {
		margin-top: 0;
		width: 709px;
		height: 609px;
		// grid-row: 3/4;
		// grid-column: 1/-1;
	}

	@media #{$desktop-only} {
		width: 552px;
		height: 499px;
		position: absolute;
		top: 0;
		left: 463px;
	}
}

.promotion__button {
	order: 1;

	@media #{$not-mobile} {
		// position: absolute;
		// top: 200px;
		// left: 87px;
		grid-row: 3/4;
		grid-column: 1/-1;
		place-self: start;
		margin-top: 49px;
		margin-left: 3px;
	}

	@media #{$desktop-only} {
		position: unset;
		margin-top: 32px;
		justify-self: start;
	}
}
