.service {
	margin: 0;
	padding: 0;
}

.service__title {
	margin: 0;
	margin-top: 27px;
	margin-bottom: 38px;
	padding: 0;
	font-weight: 400;
	font-size: 36px;
	line-height: 36px;
	color: #000000;

	@media #{$not-mobile} {
		margin-top: 17px;
		margin-left: 40px;
		margin-bottom: 54px;
		font-weight: 400;
		font-size: 60px;
		line-height: 60px;
	}

	@media #{$desktop-only} {
		margin-top: 75px;
		margin-left: 0;
		margin-bottom: 56px;
	}
}

.service__text {
	margin: 0;
	margin-bottom: 38px;
	padding: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;

	@media #{$not-mobile} {
		margin-bottom: 66px;
		margin-left: 40px;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
	}

	@media #{$desktop-only} {
		margin-left: 0;
		margin-bottom: 66px;
	}
}
