.service-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.service-form__fieldset {
	border: none;
	margin-bottom: 46px;
}

.service-form__note {
	// line-height: 16px; - оставил по умолчанию для единообразия
	color: var(--second-text-color);
	text-align: center;
	margin: 0;
	padding: 0;

	@media #{$not-mobile} {
		text-align: start;
	}
}


.service-form__wrapper {
	display: grid;
	flex-direction: column;

	@media #{$not-mobile} {
		grid-template-columns: 1fr 1fr;
	}

	@media #{$desktop-only} {
		grid-template-columns: 1fr 1fr;
		align-items: center;
	}
}

.service-form__button {
	@media #{$not-mobile} {
		width: 282px;
	}

	@media #{$desktop-only} {
		width: 568px;
	}
}
