.service-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.service-form__fieldset {
	border: none;

	@media #{$not-mobile} {
		margin-left: 40px;
	}

	@media #{$desktop-only} {
		margin-left: 0;
	}
}

.service-form__note {
	color: var(--second-text-color);
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 20px;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;

	@media #{$not-mobile} {
		text-align: start;
		font-weight: 400;
		font-size: 16px;
		line-height: 16px;
		margin-top: 16px;
	}

	@media #{$desktop-only} {
		margin-top: 0;
		margin-left: -8px;
	}
}


.service-form__wrapper {
	display: grid;

	@media #{$not-mobile} {
		//
	}

	@media #{$desktop-only} {
		grid-template-columns: 569px 569px;
		column-gap: 80px;
		align-items: center;
	}

	&--note {
		@media #{$not-mobile} {
			grid-template-columns: 1fr 1fr;
			column-gap: 65px;
		}
	}
}

.service-form__button {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;

	@media #{$not-mobile} {
		width: 282px;
		font-weight: 400;
		font-size: 20px;
		line-height: 20px;
		margin-left: 41px;
	}

	@media #{$desktop-only} {
		width: 568px;
		margin-left: 0;
		margin-top: 4px;
	}
}
