.site-list {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

	&--is-open {
		display: block;
	}

	@media #{$not-mobile} {
		display: flex;
		gap: 34px;
	}
}

.site-list__item {
	padding: 22px 0;
}

.site-list__link {
	display: block;
	text-decoration: none;
	color: var(--second-text-color);
	text-transform: uppercase;
}
