.site-list {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

	&--is-open {
		display: block;
	}

	@media #{$not-mobile} {
		display: flex;
		gap: 36.5px;
	}
}

.site-list__item {
	padding: 22.5px 0;
	position: relative;

	@media #{$mobile-only} {
		border-top: 1px solid #e6e6e6;
	}

	@media #{$not-mobile} {
		padding: 14px 0 10px 0;
	}

	@media #{$desktop-only} {
		padding-bottom: 8px;
	}

	&:first-child {
		@media #{$mobile-only} {
			border-top: 1px solid #e6e6e6;
		}
	}
}

.site-list__link {
	display: block;
	text-decoration: none;
	color: var(--second-text-color);
	text-transform: uppercase;

	&[aria-current="page"]::before {
		@media #{$not-mobile} {
			content: "";
			position: absolute;
			background-color: #68b738;
			height: 2px;
			width: 100%;
			bottom: 0;
		}
	}

	@media #{$desktop-only} {
		color: #111111;
		font-size: 20px;
		line-height: 30px;
	}

	&:hover {
		border: none;
		outline: none;
		opacity: 0.6;
	}

	&:active {
		border: none;
		outline: none;
		opacity: 0.3;
	}
}

.site-list__link--light {
	@media #{$desktop-only} {
		color: #ffffff;
	}

	&[aria-current="page"]::before {
		@media #{$desktop-only} {
			background-color: #ffffff;
		}
	}
}
