.socials {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	gap: 24px;

	@media #{$mobile-only} {
		border-top: 1px solid #d9d9d9;
		border-bottom: 1px solid #d9d9d9;
		padding: 19px 0;
	}

	@media #{$not-mobile} {
		margin-top: 4px;
	}
}

.socials__link {
	&::before {
		content: "";
		display: block;
		width: 29px;
		height: 22px;
		mask: url("../../icons/stack.svg#socials-vk") no-repeat center / contain;
		background: #666666;
	}

	&[href*="youtube"]::before {
		mask: url("../../icons/stack.svg#socials-yt") no-repeat center / contain;
	}

	&[href*="t.me"]::before {
		mask: url("../../icons/stack.svg#socials-telegram") no-repeat center / contain;
	}

	&:hover::before {
		background: #68b738;
	}

	&:focus::before {
		background: #68b738;
	}

	&:active::before {
		opacity: 0.3;
		background: #68b738;
	}
}
