<!DOCTYPE html>
<html class="page" lang="ru">


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ projectName }}: {{ pages[pageId].name }}</title>
	{% include "./detect-format.twig" %}
	<link rel="stylesheet" href="./css/style.css">
</head>

<body class="page__body">
	{# <div class="page__body-container"> #}
		{% include "./header.twig" %}

		<main class="main-content">
			<h1 class="visually-hidden">{{ pages[pageId].name }}</h1>
			{% block main %}{% endblock %}

			{% include "./contacts.twig" %}

		</main>

		{% include "./footer.twig" %}
	{# </div> #}
	<script src="/js/navigation.js"></script>
	<script src="/js/slider.js"></script>
</body>

</html>
