		<section class="main-content__address address {% if permalink == "index.html" %} address--light{% endif %}">
			<div class="page__centerer address__container">
				<h2 class="visually-hidden">Адрес компании.</h2>
				<p class="address__title highlighted-text">Приглашаем<br>к сотрудничеству дилеров!</p>
				<address class="address__text">ул. Большая Конюшенная, д. 19/8 <span class="address__city">Санкт-Петербург</span></address>
			</div>
		</section>

		<section class="main-content__company-location-on-map location">
				<h2 class="visually-hidden">Местоположение компании на карте.</h2>
				{% include "./picture.twig" with {name: "map", class: "location__map", alt: "Местоположение компании на карте."} %}
		</section>
