		<section class="main-content__address address {% if permalink == "index.html" %} address--light{% endif %}">
			<h2 class="visually-hidden">Адрес компании.</h2>
			<p class="address__title highlighted-text">Приглашаем к сотрудничеству дилеров!</p>
			<address class="address__text">ул. Большая Конюшенная, д. 19/8 Санкт-Петербург</address>
		</section>

		<section class="main-content__company-location-on-map location">
			<h2 class="visually-hidden">Местоположение компании на карте.</h2>
			<div class="location__map"></div>
		</section>
