<footer class="main-footer">
	<div class="main-footer__container page__centerer">
		<a class="main-footer__logo" href="index.html">
			<svg class="main-footer__logo-img" role="img" aria-label="Логотип Cat Energy" focusable="false">
				<use href="img/logo.svg#logo-text"></use>
			</svg>
		</a>
		<ul class="main-footer__socials socials">
			{% for social in socials %}
			<li class="socials__item">
				<a class="socials__link" href="{{ social.link }}">
					<span class="visually-hidden">{{ social.name }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
		<a class="main-footer__copyright copyright-link">
			<p class="copyright-link__title">HTML Academy</p>
		</a>
	</div>
</footer>
