	<header class="main-header">
		<div class="main-header__container page__centerer">
			<a class="main-header__logo" href="index.html">
				<picture>
					<source media="(min-width: 1280px)" srcset="img/logo.svg#logo-icon-desktop" width="71" height="59">
					<source media="(min-width: 768px)" srcset="img/logo.svg#logo-icon-tablet" width="61" height="51">
					<img class="main-header__logo-icon"  src="img/logo.svg#logo-icon" width="40" height="40" alt="Логотип компании.">
				</picture>
				<img class="main-header__logo-name" src="img/logo.svg#logo-text" width="102" height="19" alt="Логотип компании."/>
			</a>
			<nav class="main-header__navigation main-navigation main-navigation--closed  main-navigation--nojs">
				<button class="main-navigation__toggle" type="button">
					<span class="visually-hidden">Открыть меню.</span>
				</button>
				<ul class="main-navigation__list site-list">
					{% for page in pages %}
					<li class="site-list__item">
						<a class="site-list__link {% if permalink == "index.html" %}site-list__link--light{% endif %}" href="{{ page.path }}" {% if permalink == page.path %}aria-current="page"{% endif %} >{{ page.name }}</a>
					</li>
					{% endfor %}
				</ul>
			</nav>
		</div>
	</header>
