	<header class="main-header">
		<div class="main-header__container page__centerer">
			<a class="main-header__logo" href="index.html">
				<img class="main-header__logo-icon" src="img/logo.svg#logo-icon" width="40" height="40" alt="Пес-супергерой в маске."/>
				<img class="main-header__logo-name" src="img/logo.svg#logo-text" width="102" height="19" alt="Логотип компании."/>
			</a>
			<nav class="main-header__navigation main-navigation main-navigation--closed  main-navigation--nojs">
				<button class="main-navigation__toggle" type="button">
					<span class="visually-hidden">Открыть меню.</span>
				</button>
				<ul class="main-navigation__list site-list">
					{% for page in pages %}
					<li class="site-list__item">
						<a class="site-list__link" href="{{ page.path }}" {% if permalink == page.path %}aria-current="page"{% endif %} >{{ page.name }}</a>
					</li>
					{% endfor %}
				</ul>
			</nav>
		</div>
	</header>
