<header class="main-header">
	<a class="main-header__logo" href="index.html">
		<img src="" alt="Логотип.">
	</a>
	<nav class="main-navigation">
		<div class="main-navigation__container">
			<button class="main-navigation__toggle" type="button">
				<span class="visually-hidden">Открыть меню.</span>
			</button>
			<ul class="main-navigation__list site-list">
				<li class="site-list__item site-list__item--current">
					<a href="index.html">Главная</a>
				</li>
				<li class="site-list__item">
					<a href="catalog.html">Каталог продукции</a>
				</li>
				<li class="site-list__item">
					<a href="form.html">Подбор программы</a>
				</li>
			</ul>
		</div>
	</nav>
</header>
