	<header class="main-header">
		<a class="main-header__logo" href="index.html">
			<img src="#" alt="Логотип.">
		</a>
		<nav class="main-header__navigation main-navigation">
			<button class="main-navigation__toggle" type="button">
				<span class="visually-hidden">Открыть меню.</span>
			</button>
			<ul class="main-navigation__list site-list">
				{% for page in pages %}
				<li class="site-list__item">
					<a class="site-list__link" href="{{ page.path }}" {% if permalink == page.path %}aria-current="page"{% endif %} >{{ page.name }}</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
	</header>
