{% set pageId = 2 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main class="main-content">
	<section class="main-content__service service">
		<h2 class="service__title heading">Подбор программы</h2>
		<p class="service__text highlighted-text">Заполните анкету, и мы подберем программу питания для вашего кота</p>
		<form class="service__form service-form" action="https://echo.htmlacademy.ru/" method="post">
			<fieldset class="service-form__fieldset cat-data">
				<legend class="visually-hidden">Данные о котике.</legend>
				<label class="cat-data__label input-text-field-label" for="cat-name">Имя:*</label>
				<input class="cat-data__input input-text-field" type="text" name="cat-name" placeholder="барсик" id="cat-name" required>
				<label class="cat-data__label input-text-field-label" for="cat-weight">Вес (кг):*</label>
				<input class="cat-data__input input-text-field" type="number" name="cat-weight" placeholder="7" id="cat-weight" required>
				<label class="cat-data__label input-text-field-label" for="cat-age">Возраст (лет):</label>
				<input class="cat-data__input input-text-field" type="number" name="cat-age" placeholder="7" id="cat-age">
			</fieldset>
			<fieldset class="service-form__fieldset feed-plan">
				<legend class="visually-hidden">План питания.</legend>
				<input class="feed-plan__input input-radio" type="radio" name="feed-plan-name" id="plan-slim" value="plan-slim" checked>
				<label class="feed-plan__label input-radio-label" for="plan-slim">Похудение</label>
				<input class="feed-plan__input input-radio" type="radio" name="feed-plan-name" id="plan-pro" value="plan-pro">
				<label class="feed-plan__label input-radio-label" for="plan-pro">Набор массы</label>
				<input class="feed-plan__input input-radio" type="radio" name="feed-plan-name" id="plan-none" value="plan-none">
				<label class="feed-plan__label input-radio-label" for="plan-none">Не знаю (нужен ваш совет)</label>
			</fieldset>
			<fieldset class="service-form__fieldset cat-owner-data">
				<legend class="cat-owner-data__legend form-legend">Контактные данные(владельца кота)</legend>
				<ul class="cat-owner-data__list">
					<li class="cat-owner-data__item">
						<label class="cat-owner-data__label input-text-field-label" for="cat-owner-email">E-mail:*</label>
						<input class="cat-owner-data__input input-text-field" type="email" name="cat-owner-email" placeholder="kuklachev@gmail.com" id="cat-owner-email" required>
					</li>
					<li class="cat-owner-data__item">
						<label class="cat-owner-data__label input-text-field-label" for="cat-owner-phone">Телефон:*</label>
						<input class="cat-owner-data__input input-text-field" type="text" name="cat-owner-phone" placeholder="8 (960) 900-60-90" id="cat-owner-phone" required>
					</li>
				</ul>
			</fieldset>
			<div class="service-form__fieldset comment">
				<label class="comment__legend form-legend" for="comment-text">Комментарий</label>
				<textarea class="comment__input input-text-field textarea" id="comment-text" name="comment-text" placeholder="Расскажите обо всех повадках кота"></textarea>
			</div>
			<fieldset class="service-form__fieldset additional-service">
				<legend class="additional-service__legend form-legend">Дополнительно</legend>
				<ul class="additional-service__list">
					<li class="additional-service__item">
						<input class="additional-service__input input-checkbox" type="checkbox" name="additional-service" id="additional-service-sugar-substitute" value="sugar-substitute" checked>
						<label class="additional-service__label input-checkbox-label" for="additional-service-sugar-substitute">Сахарозаменитель</label>
					</li>
					<li class="additional-service__item">
						<input class="additional-service__input input-checkbox" type="checkbox" name="additional-service" id="additional-service-drinking-water" value="drinking-water">
						<label class="additional-service__label input-checkbox-label" for="additional-service-drinking-water">Питьевая вода</label>
					</li>
					<li class="additional-service__item">
						<input class="additional-service__input input-checkbox" type="checkbox" name="additional-service" id="additional-service-milk" value="milk">
						<label class="additional-service__label input-checkbox-label" for="additional-service-milk">Молоко</label>
					</li>
					<li class="additional-service__item">
						<input class="additional-service__input input-checkbox" type="checkbox" name="additional-service" id="additional-service-vitamins" value="vitamins">
						<label class="additional-service__label input-checkbox-label" for="additional-service-vitamins">Витамины</label>
					</li>
				</ul>
			</fieldset>
			<button class="service-form__button button-primary" type="submit">Отправить заявку</button>
			<p class="service-form__note">* — Обязательные поля</p>
		</form>
	</section>

	<section class="main-content__address address">
		<h2 class="visually-hidden">Адрес компании.</h2>
		<p class="address__title highlighted-text">Приглашаем к сотрудничеству дилеров!</p>
		<address class="address__text">ул. Большая Конюшенная, д. 19/8 Санкт-Петербург</address>
	</section>

	<section class="main-content__company-location-on-map location">
		<h2 class="visually-hidden">Местоположение компании на карте.</h2>
		<div class="location__map"></div>
	</section>
</main>
{% endblock %}
