{% set pageId = 0 %}
{% set permalink = pages[pageId].path %}
{% extends "./templates/_layout.twig" %}

{% block main %}
<main>
	Контент главной страницы
	<section class="main-footer__address address">
		<h2 class="visually-hidden">Адрес компании.</h2>
		<p class="address__title second-heading">Приглашаем к сотрудничеству дилеров!</p>
		<address class="address__address">ул. Большая Конюшенная, д. 19/8 Санкт-Петербург</address>
	</section>
	<section class="main-footer__company-location-on-map location">
		<div class="location__map"></div>
	</section>
</main>
{% endblock %}
